$white: #ffffff;
$white-f8: #f8f8f8;
$white-e4: #e4e4e4;

$gray-cc: #cccccc;
$gray-32: #323334;
$gray-33: #333333;
$gray-40: #404040;
$gray-a8: #a8a8a8;
$gray-99: #999999;
$gray-1a: #1a1a1a;

$yellow-ff: #ffb32e;
$yellow-dark: #ff8300;

$blue-1a: #1a8fc9;

//defaults
$gray: $gray-33;
$blue: $blue-1a;
$yellow: $yellow-ff;