///////////////////////
//
// Controls the common layout grid for small, medium, and large screens
//
// Requires:
///////////////////////


$min-container-width: 320px;
$max-container-width: 980px;

// $phone-total-columns: 4;
// $phone-column-width: 64px;
// $phone-breakpoint-max: 767px;


// $tablet-breakpoint-min: 768px;
// $tablet-breakpoint-max: 1099px;
// $tablet-total-columns: 6;


// $desktop-breakpoint-min: 1100px;
// $desktop-total-columns: 12;
$mini: max-width 660px 4;
$mobile: max-width 767px 4;
$tablet: min-width 768px max-width 979px 6;

$desktop: min-width 980px 12;

//---------- STYLES ---------



body {
}

header,
main,
footer {

  @include outer-container;

}

.grid {

  // set to phone settings
  min-width: $min-container-width;
  max-width: $max-container-width;

  @include media($mobile) {
    @include span-columns(4);
    @include omega;
  }

  @include media($tablet) {
    @include span-columns(6);
    @include omega;
  }

  @include media($desktop) {
    @include span-columns(12);
    @include omega;
  }
}

main {
  section {
    @include media($mobile) {
      @include span-columns(4 of 4);
      @include omega;
    }

    @include media($tablet) {
      @include span-columns(4 of 12);
      //@include omega(2n);
    }

    @include media($desktop) {
      @include span-columns(2 of 6);
      //@include omega();
    }
  }
}